{template 'common/header'} 
<ul class="nav nav-tabs">
	<li ><a href="{php echo $this->createWebUrl('coupon',array('actid'=>$act['id']))}">优惠券管理</a></li>
	<li><a href="{php echo $this->createWebUrl('coupon',array('op'=>'edit','actid'=>$act['id']))}" ><i class="fa fa-plus"></i>优惠券添加</a></li>
  <li class="active" ><a href="{php echo $this->createWebUrl('coupon',array('op'=>'coupongrant','actid'=>$act['id']))}">优惠券发放</a></li>
  <li><a href="{php echo $this->createWebUrl('coupon',array('op'=>'couponverif','actid'=>$act['id']))}" ><i class="fa fa-plus"></i>优惠券核销</a></li>
  <div class="form-inline pull-right">
<label>切换活动</label>
<select name="cateid" class="form-control" onchange="location.href='{php echo $this->createWebUrl('coupon',array('op'=>'coupongrant'))}&actid='+this.options[this.selectedIndex].value">
{loop $acts $row}
<option value="{$row['id']}" {if $act['id']==$row['id']}selected="selected"{/if} >{$row['name']}</option>
{/loop}
</select>
</div>
</ul>
<div class="clearfix"></div>
<style>
.table td{ word-break:break-all !important; overflow: visible !important; word-spacing:normal; white-space:normal !important}
</style>

<div class="panel panel-default">
<div class="panel-heading">活动 <span class="label label-success">{$act['name']}</span> {$total}条记录</div>
<div class="clearfix"></div>
<div class="panel-body">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="table">
    <tr>
    <th width="80" align="center">编号</th>
    <th width="100" align="center">活动名称</th>
    <th width="100" align="center">商家</th>
    <th width="60" align="center">头像</th>
    <th width="80" align="center">用户名</th>
    <th width="100" align="center">优惠券</th>
    <th width="60" align="center">核销</th>
    <th width="80" align="center">核销时间</th>
    <th width="80" align="center">领取时间</th>
    </tr>
    {loop $coupongrants $row}
    <tr>
    <td valign="middle">{$row['id']}</td>
    <td valign="middle">{$acts[$row['actid']]['name']}</td>
    <td valign="middle">{$row['biz']}</td>
    <td valign="middle"><img src="{if $row['avatar']}{$row['avatar']}{else}{php echo MODULE_URL.'/images/noavatar.png'}{/if}" width="40"></td>
    <td valign="middle">{$row['oauth_openid']}</td>
    <td valign="middle">{$coupons[$row['cid']]['name']}</td>
    <td valign="middle">{if $row['verifer']}<span class="label label-primary">已核销</span>{else}<span class="label label-danger">未核销</span>{/if}</td>
    <td valign="middle">{if $row['veriftime']}{php echo  date('Y-m-d H:i',$row['veriftime'])}<br>{php echo  date('H:i',$row['veriftime'])}}{/if}</td>
    <td valign="middle">{php echo  date('Y-m-d H:i',$row['addtime'])}<br>{php echo  date('H:i',$row['addtime'])}</td>
    </tr>
    {/loop}

    </table>
  {$pager}
 </div></div>
</div>
    <script type="text/javascript">

	var category = [];

	require(['bootstrap'],function($){

		$('.btn').hover(function(){

			$(this).tooltip('show');

		},function(){

			$(this).tooltip('hide');

		});

	});

</script>


{template 'common/footer'}