{template 'common/header'}
<ul class="nav nav-tabs">
  <li class="active" ><a href="{php echo $this->createWebUrl('keepawarded',array('id'=>$_GPC['id']))}">点击红包管理</a></li>
<div class="form-inline pull-right">
<select name="activityid" class="form-control" onchange="location.href='{php echo $this->createWebUrl('keepawarded')}&bizid='+this.options[this.selectedIndex].value">
<option value="0">所有商家</option>
{loop $bizs $row}
<option value="{$row['id']}" {if $biz['id']==$row['id']}selected="selected"{/if} >{$row['name']}</option>{/loop}
</select>
<select name="activityid" class="form-control" onchange="location.href='{php echo $this->createWebUrl('keepawarded',array('bizid'=>$biz['id']))}&actid='+this.options[this.selectedIndex].value">
<option value="0">所有活动</option>
{loop $acts $row}
<option value="{$row['id']}" {if $act['id']==$row['id']}selected="selected"{/if} >{$row['name']}</option>{/loop}
</select>
<a href="{php echo $this->createWebUrl('keepawarded',array('bizid'=>$biz['id'],'actid'=>$act['id'],'op'=>'export'))}" target="_blank" class="btn btn-sm btn-primary pull-right">导出选中的中奖信息到EXECEL</a>
</div>
</ul>
<style>
.table td{ word-break:break-all !important; overflow: visible !important; word-spacing:normal; white-space:normal !important}
.awardbt{ margin:5px auto; width:49%; text-align:left}
._awardbt{ margin:10px 0 5px 0;}
.account-stat{overflow:hidden; color:#666;}
.account-stat .account-stat-btn{width:100%; overflow:hidden;}
.account-stat .account-stat-btn > div{text-align:center; margin-bottom:5px;margin-right:2%; float:left;width:14%;  padding-top:10px;font-size:16px; border-left:1px #DDD solid;}
.account-stat .account-stat-btn > div:first-child{border-left:0;}
.account-stat .account-stat-btn > div span{display:block; font-size:30px; font-weight:bold
</style>
<style type="text/css">
.table-bordered{margin:15px auto}
.table-bordered .th-div{text-align:left;line-height:25px;padding:5px;}
.table-bordered .th-td{padding:0px;border: none; background: #ebebeb}
.table-bordered td,th{padding: 5px}
</style>
<div class="panel panel-default"><div class="panel-heading">共{$total}条记录 
</div>
</div>
{loop $awardeds $row}
<table border="0" cellpadding="0" cellspacing="0" class="table-bordered" width="100%">
<thead>
    <tr>
    <td width="60" align="center" colspan="6" class="th-td"><div class="col-md-2 th-div">中奖编号：{$row['id']}</div><div class="col-md-3 th-div">转发二维码编号:{$row['token']} ({$acts[$row['actid']]['name']})</div> <div class="col-md-5 th-div">{if $row['avatar']}<img src="{php echo $row['avatar']}" width="25"/>{else}<img src="{php echo MODULE_URL.'/images/noavatar.png'}" width="25"/>{/if} {$row['id']} {$row['oauth_openid']}</div><div class="col-md-2 th-div">{php echo date('Y-m-d',$row['addtime'])} {php echo date('H:i:s',$row['addtime'])}</div></td></thead>
    </tr>
    <tbody>
    <tr>
    <td valign="middle" width="120">普通红包</td>
    <td valign="middle" width="160">{$row['redpack']}元</td>
    <td valign="middle" width="80"><span class="label label-success">已发</span></td>
    <td valign="middle" width="80">{$row['err_code']}</td>
    <td valign="middle" width="180"></td>
    <td valign="middle" width=""></td>
    </tr></tbody>
</table>
{/loop}
{$pager}
<script type="text/javascript">
	var category = [];
	require(['bootstrap'],function($){
		$('.btn').hover(function(){
			$(this).tooltip('show');
		},function(){
			$(this).tooltip('hide');
		});
	});
</script>

</div>

{template 'common/footer'}