{template 'common/header'} 

<ul class="nav nav-tabs">

	<li><a href="{php echo $this->createWebUrl('activity')}">活动管理</a></li> 

    <li class="active"><a href="{php echo $this->createWebUrl('help',array('id'=>$act['id'],'op'=>'display'))}">修改{$act['title']}帮助</a></li> 

</ul>


<form method="post" action="{php echo $this->createweburl('help',array('op'=>'save','id'=>$id))}">
<div class="form-group">
      {php echo tpl_form_field_image('hpthumb',$hpthumb,'',array('global'=>false))}

        <span class="help-block">活动帮助top图片</span>
</div>
<div class="form-group">{php echo tpl_ueditor('hpctnt', $hpctnt);}
    <span class="help-block text-danger">活动帮助，首页活动简介点击后显示这个。</span>
</div>
<div class="form-group">
      <input name="token" value="{$_W['token']}" type="hidden" />
      <input name="submit" type="submit" value="保存" class="btn btn-primary"/>
	  <a href="/app/{php echo $this->createmobileurl('help',array('actid'=>$id))}"  class="btn btn-default" target="_blank">预览</a>
</div>
</form>
{template 'common/footer'}