<div class="panel panel-default">

<div class="panel-heading"><strong>{if empty($rid)}添加关键字回复{else}修改关键字回复{/if}</strong></div>
<ul class="list-group">
<li class="list-group-item"> 
	<div class="form-group">
        <label for="title" class="col-md-2 control-label">关键字回复标题</label><div class="col-md-10"><input  class="form-control"  type="text" name="replytitle" value="{$reply['replytitle']}" placeholder="活动名"/><span class="help-block text-danger">关键字回复图文标题</span></div>
    </div>
    <div class="form-group">

    <label for="thumb" class=" col-md-2 control-label">关键字回复缩略图</label>
    <div class="col-md-10">{php echo tpl_form_field_image('replythumb',$reply['replythumb'],'',array('global'=>false))}
    <span class="help-block text-danger">关键字回复缩略图</span></div>
    </div>
    <div class="form-group">

        <label for="title" class="col-md-2 control-label">关键字回复图文描述</label><div class="col-md-10"><input  class="form-control"  type="text" name="replydescription" value="{$reply['replydescription']}" placeholder="活动名"/><span class="help-block text-danger">关键字回复图文描述</span></div>
    </div>
</li>
</ul>
</div>
