{template 'common/header'} 

<ul class="nav nav-tabs">

	<li class="active" ><a href="{php echo $this->createWebUrl('verifer',array('actid'=>$act['id']))}">核销员</a></li>
	<li><a href="{php echo $this->createWebUrl('verifer',array('op'=>'edit','actid'=>$act['id']))}" ><i class="fa fa-plus"></i>添加核销员</a></li>
  <li ><a href="{php echo $this->createWebUrl('verifer',array('op'=>'displayverif','actid'=>$act['id']))}">核销记录</a></li>
  <div class=" form-inline pull-right">
  <label >切换活动</label>
<select name="activityid" class="form-control" onchange="location.href='{php echo $this->createWebUrl('verifer',array('op'=>'display'))}&actid='+this.options[this.selectedIndex].value">
<option value="0">所有活动</option>
{loop $acts $row}
<option value="{$row['id']}" {if $actid==$row['id']}selected="selected"{/if} >{$row['name']}</option>{/loop}
</select></div>
</ul>


<style>

.table td{ word-break:break-all !important; overflow: visible !important; word-spacing:normal; white-space:normal !important}

</style>
<div class="panel panel-default">


<div class="panel-body">

<form id="form1" name="form1" method="post" action="">

  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="table">
    <tr>
      <th width="50" align="center">id</th>
      <th width="140" align="center">所属活动</th>
      <th width="100" align="center">名称</th>
      <th width="140" align="center">手机号码</th>
      <th width="80" align="center">核销总数</th>
      <th width="80" align="center">状态</th>
      <th width="120" align="center">操作</th>
    </tr>
    {loop $verifers $row}
    <tr>
      <td valign="middle">{$row['id']}</td>
      <td width="200">{$acts[$row['actid']]['name']}</td>
      <td  valign="middle">{$row['name']}</td>
      <td valign="middle">{$row['mobile']}</td>
      <td valign="middle">{$row['totalverif']}</td>
      <th width="" align="center">{if $row['disable']}<span class="label label-danger">禁用</span>{else}<span class="label label-success">启用</span>{/if}</th>
      <td valign="middle" width="160">
      <a data-original-title="编辑" href="{php echo $this->createWebUrl('verifer',array('op'=>'edit','id'=>$row['id'],'actid'=>$actid))}" title="" data-toggle="tooltip" data-placement="top" class="btn btn-default btn-sm"><i class="fa fa-edit"></i></a>
      <a data-original-title="核销记录" href="{php echo $this->createWebUrl('verifer',array('op'=>'displayverif','actid'=>$actid,'veriferid'=>$row['id']))}" title="" data-toggle="tooltip" data-placement="top" class="btn btn-default btn-sm" ><i class="glyphicon glyphicon-list-alt"></i></a></td>
    </tr>

    {/loop}

    </table>

  </form>

 </div></div>

    <script type="text/javascript">

	var category = [];

	require(['bootstrap'],function($){

		$('.btn').hover(function(){

			$(this).tooltip('show');

		},function(){

			$(this).tooltip('hide');

		});

	});

</script>

</div>

{template 'common/footer'}