{template 'header'}
<link href="./resource/css/bootstrap.min.css?v=20170802" rel="stylesheet">
<style type="text/css">
.panel-info,.panel-body,.panel-default{ padding-left: 0px;padding-right: 0px; }    
.label-success{ width: 46%;margin: 5px 1.5%;display: inline-block; }
</style>

<div style="margin:0px 13px;">
<h4> 访问统计</h4>
    <div class="form-group"> 
 普通转发人次 <span class="label label-primary">{$sharept}</span> 朋友圈转发人次 <span class="label label-primary">{$sharesm}</span></div><div class="form-group"> 朋友圈裂变转发人次 <span class="label label-primary"> {$sharelb}</span> 合计独立转发人次 <span class="label label-danger"> {$sharedl}</span></div>
 <hr>
 <div class="form-group"> 普通点击人次 <span class="label label-primary"> {$clickpt}</span> 朋友圈点击人次 <span class="label label-primary"> {$clicksm}</span> </div><div class="form-group">朋友圈裂变点击人次 <span class="label label-primary"> {$clicklb}</span> 合计独立点击人次<span class="label label-danger"> {$clickdl}</span>
 </div>
<div class="clearfix"></div>
<h4> 访问数据统计</h4>
<div id="smt" style="margin: auto; height:300px;"></div>
<script type="text/javascript">    // 基于准备好的dom，初始化echarts实例
require.config({paths:{echarts:'../../../../addons/hxq_newywym/js/lib/echarts.all',echartsconfig:'../../../../addons/hxq_newywym/js/lib/echartsconfig'}});
require(['echarts','echartsconfig','jquery'],function(echarts_,echartsconfig,$){
    // 指定图表的配置项和数据
    var smtoption =  {
    title: {
        text: '扫码统计',
        subtext: '真实数据'
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data:['独立转发人次','独立点击人次']
    },
    toolbox: {
        show: true,
        feature: {
            dataZoom: {
                yAxisIndex: 'none'
            },
            dataView: {readOnly: false},
            magicType: {type: ['line', 'bar']},
            restore: {},
            saveAsImage: {}
        }
    },
    xAxis:  {
        type: 'category',
        boundaryGap: false,
            data:{if !empty($sharedates)}{php echo json_encode($sharedates)}{else}[]{/if},
    },
    yAxis: {
        type: 'value',
        axisLabel: {
            formatter: '{value}次'
        }
    },
    series: [
               {
            name:'独立转发人次',
            type:'line',
            data:{if !empty($sharecensuss)}{php echo json_encode($sharecensuss)}{else}[]{/if},
            markPoint: {
                data: [
                    {type: 'max', name: '最大值'},
                    {type: 'min', name: '最小值'}
                ]
            },
            markLine: {
                data: [
                    {type: 'average', name: '平均值'}
                ]
            }
        },
         {
            name:'独立点击人次',
            type:'line',
            data:{if !empty($fansclickcensuss)}{php echo json_encode($fansclickcensuss)}{else}[]{/if},
            markPoint: {
                data: [
                    {type: 'max', name: '最大值'},
                    {type: 'min', name: '最小值'}
                ]
            },
            markLine: {
                data: [
                    {type: 'average', name: '平均值'}
                ]
            }
        }
    ]
    };
        // 使用刚指定的配置项和数据显示图表。
        // 
myChart=echarts.init(document.getElementById('smt'));
        myChart.setOption(smtoption);
          })
        
  var category = [];

  require(['bootstrap'],function($){

    $('.btn,.qrlink').hover(function(){

      $(this).tooltip('show');

    },function(){

      $(this).tooltip('hide');

    });

  });


</script>
<style>
.table td{ word-break:break-all !important; overflow: visible !important; word-break:break-all; white-space:normal !important}
.divh5{ height: 5px; display:block;}
.table-bordered .th-td{padding:0px;border: none; background: #ebebeb}
.table-bordered td,th{padding: 5px}

</style>
<div class="panel panel-default" >
<div class="panel-heading">扫码奖品发放统计</div>
<div class="panel-body">
<table border="0" cellpadding="0" cellspacing="0" class="table" width="100%" id="scan">
    <tr>
    <th valign="middle" width="100">类型</th>
    <th valign="middle" width="120">名称</th>
    <th valign="middle" width="80">发放总量</th>
    <th valign="middle" width="80">总金额</th>
    <th valign="middle" width="80">总积分</th>
    </tr>
{loop $tokens $row}
    <tr>
    <td valign="middle" >{if $row['type']==1}红包{elseif $row['type']==3}积分{/if}</td>
    <td valign="middle" width="">{$row['title']}</td>
    <td valign="middle" width="" class="totalawarded">{$row['totalawarded']}</td>
    <td valign="middle" width="" class="redpack">{$row['redpack']}</td>
    <td valign="middle" width="" class="credit1">{$row['credit1']}</td>
    </tr>
{/loop}
   <tr>
    <td valign="middle" width=""></td>
    <td valign="middle" width=""></td>
    <td valign="middle" width="" class="totalawarded_">0</td>
    <td valign="middle" width="" class="redpack_">0</td>
    <td valign="middle" width="" class="credit1_">0</td>
    </tr>
</table>
</div>
</div>
<script>
require(['jquery'],function($){
    scan=$('#scan')
    scan.find('.totalawarded').each(function(){
        scan.find('.totalawarded_').html(parseFloat(scan.find('.totalawarded_').html())+parseFloat($(this).html()))
    })
     scan.find('.redpack').each(function(){
        scan.find('.redpack_').html(parseFloat(scan.find('.redpack_').html())+parseFloat($(this).html()))
    })

      scan.find('.credit1').each(function(){
        scan.find('.credit1_').html(parseFloat(scan.find('.credit1_').html())+parseFloat($(this).html()))
    })
       scan.find('.totalverif').each(function(){
        scan.find('.totalverif_').html(parseFloat(scan.find('.totalverif_').html())+parseFloat($(this).html()))
    })

})
</script>


<div class="panel panel-default" >
<div class="panel-heading">裂变奖品发放统计</div>
<div class="panel-body">
<table border="0" cellpadding="0" cellspacing="0" class="table" width="100%" id="fisn">
    <tr>
    <th valign="middle" width="100">类型</th>
    <th valign="middle" width="120">名称</th>
    <th valign="middle" width="80">发放总量</th>
    <th valign="middle" width="80">总金额</th>
    <th valign="middle" width="80">总积分</th>
    </tr>
{loop $fisns $row}
    <tr>
    <td valign="middle" >{if $row['type']==1}红包{elseif $row['type']==3}积分{/if}</td>
    <td valign="middle" width="">{$row['title']}</td>
    <td valign="middle" width="" class="totalawarded">{$row['totalawarded']}</td>
    <td valign="middle" width="" class="redpack">{$row['redpack']}</td>
    <td valign="middle" width="" class="credit1">{$row['credit1']}</td>
    </tr>
{/loop}
   <tr>
    <td valign="middle" width=""></td>
    <td valign="middle" width=""></td>
    <td valign="middle" width="" class="totalawarded_">0</td>
    <td valign="middle" width="" class="redpack_">0</td>
    <td valign="middle" width="" class="credit1_">0</td>
    </tr>
</table>
</div>
</div>
<script>
require(['jquery'],function($){
    fisn=$('#fisn')
    fisn.find('.totalawarded').each(function(){
        $('.totalawarded_').html(parseFloat(fisn.find('.totalawarded_').html())+parseFloat($(this).html()))
    })
     fisn.find('.redpack').each(function(){
        fisn.find('.redpack_').html(parseFloat(fisn.find('.redpack_').html())+parseFloat($(this).html()))
    })

      fisn.find('.credit1').each(function(){
        fisn.find('.credit1_').html(parseFloat(fisn.find('.credit1_').html())+parseFloat($(this).html()))
    })
       fisn.find('.totalverif').each(function(){
        fisn.find('.totalverif_').html(parseFloat(fisn.find('.totalverif_').html())+parseFloat($(this).html()))
    })

})
</script>

<div class="panel panel-default">
<div class="panel-heading">优惠券发放统计</div>
<div class="panel-body">
<table border="0" cellpadding="0" cellspacing="0" class="table" width="100%">
    <tr>
    <th valign="middle" width="100">类型</th>
    <th valign="middle" width="120">名称</th>
    <th valign="middle" width="80">领取总量</th>
    <th valign="middle" width="80">核销总量</th>
    </tr>
{loop $grants $row_}
    <tr>
    <td valign="middle">{$_M['coupontypes'][$coupons[$row_['couponid']]['type']]}</td>
    <td valign="middle" >{$coupons[$row_['couponid']]['name']}<br>{$coupons[$row_['couponid']]['value']}</td>
    <td valign="middle"  class="totalgrant">{$row_['totalgrant']}</td>
    <td valign="middle"  class="totalcouponverif">{$row_['totalverif']}</td>
    </tr>
{/loop}
    <tr>
    <td valign="middle" ></td>
    <td valign="middle" ></td>
    <td valign="middle"  class="totalgrant_">0</td>
    <td valign="middle"  class="totalcouponverif_">0</td>
    </tr>
</table>

<script>
require(['jquery'],function($){
    $('.totalgrant').each(function(){
        $('.totalgrant_').html(parseFloat($('.totalgrant_').html())+parseFloat($(this).html()))
    })
     $('.totalcouponverif').each(function(){
        $('.totalcouponverif_').html(parseFloat($('.totalcouponverif_').html())+parseFloat($(this).html()))
    })
})
</script>
</div>
</div>

















</div>


<script>
require(['jquery'],function($){
    $('.totalgrant').each(function(){
        $('.totalgrant_').html(parseFloat($('.totalgrant_').html())+parseFloat($(this).html()))
    })
     $('.totalcouponverif').each(function(){
        $('.totalcouponverif_').html(parseFloat($('.totalcouponverif_').html())+parseFloat($(this).html()))
    })
})
    sharedata={
    title:'{$act['sharetitle']}数据统计',
    imgUrl:'{php echo $_W['attachurl'].$act['sharethumb']}',
    desc:'{$act['sharetitle']}数据统计',
    link:'{php echo $_W['siteroot'].'app/'.$this->createmobileurl('census',array('actid'=>$act['id'],'cateid'=>$cate['id']))}',
    success:function(){

    },
    fail:function(data){
        alert(data)
    }
    }
    require(['weixin'],function(wx){
    wx.config({debug:jssdkconfig.debug,appId:jssdkconfig.appId,timestamp:jssdkconfig.timestamp,nonceStr:jssdkconfig.nonceStr,signature:jssdkconfig.signature,jsApiList:jssdkconfig.jsApiList});
    wx.ready(function () {
        wx.onMenuShareAppMessage(sharedata);
        wx.onMenuShareTimeline(sharedata);
    });})
    </script>
</body>
</html>