{template 'header'}
<style type='text/css'>
.top{width:100%; height:180px;background: {$_M['couponstyles'][$coupon['style']]};padding:1px 0px;text-align:center}
.top_logo{height:40px;margin:10px auto 5px auto;line-height: 40px;text-align: center;display: inline-block;}
.top_logo_logo{width: 40px;height: 40px;float: left;}
.top_logo_logo >img{width: 40px;height: 40px;border-radius: 50%;}
.top_logo_coupontype{height:40px;float:left;margin-left: 10px;font-size: 2.0rem;color: #fff}
.top_name{height:40px;line-height:40px;margin:5px auto;width:90%;line-height: 30px;text-align: center;font-size: 2.2rem;color:#fff;font-weight: bolder}
.top_row{height:20px;margin:2px auto;width:90%;line-height: 25px;text-align: center;color:#fff;font-size:1.4rem;}
.params{ background: #fff ;margin: 10px auto;padding: 1px 0px}
.params_row{width: 100%;line-height: 25px;height:25px;margin: 10px auto;font-size: 1.4rem}
.params_name{width: 20%;line-height: 25px;float: left;color:#cbcbcb;text-align: right;font-size:1.4rem;}
.params_value{width: 80%;line-height: 25px;float: left;padding-left: 10px;font-size:1.4rem;}
.bottom{ position: fixed;bottom: 0px;background:{$_M['couponstyles'][$coupon['style']]};text-align:center;font-size:1.6rem;width:100%;line-height:50px; color:#fff}
.div50{height: 50px;}
.wxtips{ width: 95%;margin:10px auto;padding: 10px; color: #6e2020 ;  background: #f8f6ec; font-size: 1.2rem; }
</style>
<div class="nav"><div class="back"><a href="{php echo $this->createmobileurl('awardedrcd',array('cateid'=>$cate['id'],'type'=>'coupon'))}"></a></div></div>
<div class="top">
  <div class="top_logo"><div class="top_logo_logo"><img src="{$_W['attachurl']}{$biz['logo']}"></div><div class="top_logo_coupontype">{$_M['coupontypes'][$coupon['type']]}</div></div>
  <div class="top_name">{$coupon['value']}</div>
  <div class="top_row"></div>
  <div class="top_row">有效期 {php echo date('Y-m-d',$coupon['starttime'])} 至 {php echo date('Y-m-d',$coupon['endtime'])}</div>
  <div class="top_row">{$biz['name']}</div>
  <div class="clearfix"></div>

</div>
<div class="params">
<div class="params_row"><div class="params_name">商家电话</div><div class="params_value"><a href="tel:{$biz['phone']}" class="blue">{$biz['phone']}</a></div><div class="clearfix"></div></div>
<div class="params_row"><div class="params_name">商家地址</div><div class="params_value">{$biz['address']}</div><div class="clearfix"></div></div>
<div class="params_row"><div class="params_name">优惠说明</div><div class="params_value">{$coupon['requirement']} 到店扫描商家二维码打开此页面即可兑换</div><div class="clearfix"></div></div><div class="clearfix"></div>

</div>
<div class="div50"></div>
{if $grant['veriftime']}<div class="bottom" style="background:#ccc" data-id="{$grant['id']}" data-veriftime="{$grant['veriftime']}">已核销</div>{else}
{if $coupons[$grant['couponid']]['endtime']>TIMESTAMP}<div class="bottom" style="" data-url="{php echo urlencode($_W['siteroot'].$this->createmobileurl('coupon',array('op'=>'scanverif','type'=>'coupon','id'=>$grant['id'],'cateid'=>$cate['id'])))}" data-id="{$grant['id']}" data-veriftime="0">立即使用</div>{else}<div class="bottom" style="background:#ccc"  data-id="{$grant['id']}" data-veriftime="1">已过期</div>{/if}{/if}<script type="text/javascript">
{if $biz['veriftype']==1}
  require(['jquery','main'],function($,main){
      $('.bottom').off().click(function(){

        if ($(this).data('veriftime')!=0){
          return false;
        }
        callback=function(){
            if (layers['veriflayer'].find('input[name=password]').val()==''){
                  layers['veriflayer'].find('.message').html('请输入核销密码')
                  return false;
                }
                $.ajax({
                                              type:'get',
                                              dataType:'json',
                                              url:'{php echo $this->createmobileurl('coupon',array('op'=>'verif','id'=>$grant['id']))}',
                                              data:{'password':layers['veriflayer'].find('input[name=password]').val()},
                                             success:function(data){    
                                                    if (data.errno==0){
                                                       $('#layer_'+layers['veriflayer'].attr('id')).remove()
                                                       layers['veriflayer']=null
                                                       $('#timeoutlayer').showlayer(data.message,'',3,false,'middle','')
                                                       $('.bottom').css('background-color','#ccc').html('已核销')
                                                    }else{
                                                       layers['veriflayer'].find('.message').html(data.message)
                                                    }
                                             }
                                             })
        }
        $('#veriflayer').showlayer('','',false,true,'middle',callback)


      })
    {if $op=='displayverif'}
       var e = $.Event("click");
       $('.bottom').trigger(e);
    {/if}
  })
{else}
  require(['jquery','main'],function($,main){
       ask=function(id){
              $.get('{php echo $this->createmobileurl('coupon',array('op'=>'check','type'=>'coupon','cateid'=>$cate['id'],'id'=>$grant['id']))}',function(data){
                      data=eval('('+data+')')
                          if (data.errno==0){
                              layers['qrcodelayer'].hidelayer();
                              $('#timeoutlayer').showlayer(data.message,'',3,true,'middle')
                              $('.bottom').css('background-color','#ccc').html('已核销').off()
                          }
              })
       }
        $('.bottom').on('click',function(){
          if ($(this).data('veriftime')!=0){
            return false;
          }
          var id=$(this).data('id');
          $.get('{php echo $this->createmobileurl('qrcode',array('id'=>$grant['id'],'filename'=>'verif_'.$grant['id']))}&url='+$(this).data('url'),function(data){
                      data=eval('('+data+')')
                          if (data.errno==0){
                              $('#qrcodelayer').showlayer('','',false,true,'middle',function(){$('#layer_'+layers['qrcodelayer'].attr('id')).remove();layers['qrcodelayer']=null;clearInterval(time)});
                              layers['qrcodelayer'].find('.qrcode>img').attr('src',data.qrurl)
                              layers['qrcodelayer'].repositionlayer();
                              time=setInterval('ask("'+id+'")',1000)
                          }
                    })

        })
      {if $op=='displayverif'}
         var e = $.Event("click");
         $('.bottom').trigger(e);
      {/if}
      })
{/if}
</script>
<div id="veriflayer" class="layercontent">
<div class="header"></div>
<form class="form-horizontal">
<div class="body">
<div class="verifer"><input value="" type="password" name="password" class="form-control" placeholder="请商家输入核销密码"></div>
<div class="message"></div>
<div class="footer"><a href="javascript:;" class="button disable close_">取消</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="button submit" href="javascript:;">核销</a></div>
</div>
</form>
</div>
<div id="qrcodelayer" class="layercontent">
<span class="close submit" data-target=''><img src="{php echo MODULE_URL.'/images/close.png'}" width="20"></span>
<div class="header"></div>
<form class="form-horizontal">
<div class="body">
<div class="qrcode"><img src="" width="100%" /></div>
<div class="message">请将二维码给店员扫描核销</div>
</div>
</form>
</div>
<div id="timeoutlayer" class="layercontent"><div class="message"></div></div>
  <script type="text/javascript">
  require(['jquery'],function(){
    $.get('{php echo $this->createmobileurl('census',array('actid'=>$act['id'],'guesturl'=>urlencode($_W['siteurl'])))}')
  })
  require(['weixin'],function(wx){
                   wx.config({debug:jssdkconfig.debug,appId:jssdkconfig.appId,timestamp:jssdkconfig.timestamp,nonceStr:jssdkconfig.nonceStr,signature:jssdkconfig.signature,jsApiList:jssdkconfig.jsApiList});
                                  wx.ready(function () {
                                    wx.onMenuShareAppMessage(sharedata);
                                    wx.onMenuShareTimeline(sharedata); 
                   });
  })
  </script>
</body>
</html>