{template 'header'}
<style>
body{ background: #fff; }
.name{margin:10px 50px; padding: 0px;  list-style:none ; text-align: center; font-size: 1.6rem;line-height: 40px;white-space: normal;word-wrap: break-word;position: relative;background: #fff}
.read{ width: 90%; margin:10px auto; font-size: 1.4rem; color:#8c8c8c;}
.company{ width: 90%; margin:10px auto; font-size: 1.4rem; color:#899ef6;}
.titleline{ margin:10px auto;width: 90%; font-size: 1.4rem; border-bottom: 1px solid #ebebeb;line-height: 30px;height: 30px;margin:10px auto; font-size: 1.4rem; color:#888888}
.company a:link{color:#899ef6; text-decoration:none;}
.company a:hover{color:#899ef6; text-decoration:none;}
.company a:visited{color:#899ef6; text-decoration:none;}
.content{ width: 90%; margin:10px auto;font-size: 1.4rem }
.price{ width: 90%; margin:10px auto; font-size: 1.4rem;}
.div50{ height: 50px;width: 100% }
.nav{z-index:1;}
</style>
<script type="text/javascript" src="{MODULE_URL}/js/main.js?{TIMESTAMP}"></script>
<script>
sharedata={
	title:'{$act['sharetitle']}',
	imgUrl:'{php echo $_W['attachurl'].$act['sharethumb']}',
	desc:'{$act['sharedesc']}',
	link:'{php echo $_W['siteroot'].'app/'.$this->createmobileurl('content',array('cateid'=>$cate['id']))}',
	success:function(){},
	fail:function(data){
		alert(data)
	}
	}
wx.ready(function(){
	wx.onMenuShareTimeline(sharedata)
	wx.onMenuShareAppMessage(sharedata)
})
wx.error(function(){
   // alert("jssdk失败")
})
</script>
<div class="nav"><div class="back"><a href="javascript:history.go(-1)"></a></div></div>
<div class="name">{$pdt['name']}</div>
<div class="titleline">特别推荐</div>
<div class="content">{$pdt['description']}</div>
<div class="read">阅读 {php echo $pdt['click']}</div>
</div>
</body>
</html>